*{
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
}
body{
  background-color: rgb(37, 37, 70)
}
nav{
  height: 80px;
  width: 100vw;
  background-color: black;
}
.logo{
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.parent{
  display: flex;
}
nav ul{
  float: right;
  margin: 20px;
}
nav ul li{
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
.main{
  display: flex;
}
#check{
  display: none;
}
.left{
  width: 50%;
  margin: 10%;
  color: white;
}
.right{
  width: 50%;
  margin: 10%;
}
.parent{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}
@media (max-width: 1000px) {
  .logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li{
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .left{
    display: block;
    width: 90%;

  }
  .right{
    width: 90%;
    display: block;
  }
  img{
    margin-left: 25vw;
  }
  ul{
    position: fixed;
    width: 92vw;
    height: 70vh;
    font-size: 30px;
    background-color: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .main{
    display: block;
  }
  .parent{
    display: block;
  }
  
}

#image{
  width: 30vw;
  border-radius: 10px;
}
h1{
  margin-top: 60px;
}
#yellow{
  color: yellow;
}
#contact{
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
  color: black;
  height: 50px;
  width: 150px;
  margin-top: 30px;
}
#contact:hover {
  transform: scale(1.1);
}
p{
  margin: 15px;
  margin-left: 0;
  color: white;
}


.child{
  width: 400px;
  height: 500px;
  color: white;
  background-color: black;
  text-align: center;
  margin: 10px;
}
.child:hover{
  transform: scale(1.1);
}
.child p{
  color: grey;
  margin-top: 40px;
}
.content{
  text-align: start;
  margin: 50px;
}
.content2{
  text-align: start;
  margin: 50px;
}
.content2 p{
  font-size: 50px;
}
.content2 p a{
  margin: 20px;
}
.content p{
 text-align: start;
 margin-bottom: 40px;
}
#nameinput{
  background-color: black;
  width: 300px;
  height: 40px;
  font-size: 25px;
  margin-bottom: 30px;
}
.large-textarea {
  background-color: black; 
  width: 300px;
  height: 200px; 
  box-sizing: border-box; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; resize: vertical;
}
.icon{
  color: yellow;
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.child a:hover{
  text-decoration: underline;
}
.content p{
  font-size: 20px;
}
.content p:hover{
  text-decoration: underline;
}


